table {
    background-color:#000000;
    border: 2px solid #000000;
    width: 700px;
    height: 400px;
     margin: auto;
}
.cet{
    background-color:#86FFF6;
}
.ncet{
    background-color:#65BFB9;
}
.header {
    background-color:#29658F;
    height: 100px;
    font-size: 40px;
}
.nav {
    background-color:#6AB9FF;
    width: 960px;
    text-align: center;
    margin: auto;
}
.footer {
     background-color:#29658F;
     height: 70px;
    font-size: 40px;
}
.logo {
width:80px;
float:left;
margin:10px;
}